/* COVID MAP */

.covidMap {
  flex: 0.5;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

/* REACT LEAFLET MAP SIZE */

.covidMap .leaflet-container {
  height: 100%;
}

/* CIRCLE INFO */

.info__container {
  width: 150px;
}

.info__flag img {
  width: 100px;
  border-radius: 5px;
}

.info__flag {
  width: 100%;
  height: 80px;
  background-size: cover;
  border-radius: 8px;
}

.info__name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info__cases,
.info__recovered,
.info__deaths {
  font-size: 16px;
  margin-top: 5px;
}
